<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SpaceBanana</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header">
		<div>
        	<h1><a href="/">SpaceBanana</a></h1>
		</div>
	</div>
    <div class="container">
		<div>
			<p>Here are some questions that I've either been asked a lot, or think I have interesting answers to. To be honest, most of these are probably the latter.</p>
			<p>Happy reading. Email at <a href="mailto:admin@spacebanana.dpdns.org">admin@spacebanana.dpdns.org</a> if you want.</p>
		</div>
		<!--INSERTION POINT-->
        <!--END POINT-->
    </div>
</body>
</html>