<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SpaceBanana</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header">
		<div>
        	<h1><a href="/">SpaceBanana</a></h1>
		</div>
	</div>
    <div class="container">
		<div>
			<p>Hi! I go by SpaceBanana online in all the various places. I wasn't around for the earliest creation of all the big internet sites, nor am I on all the internet sites, so take accounts that might be related to me with a grain of salt.</p>
			<p>While I personally think most of these aren't very useful, my MBTI is ENTP-A, and for the "Big Five" I have a 66 on neuroticism, 78 on Extraversion, 92 on openness to experience, 89 on agreeableness, and 90 on conscientiousness. What to make of that is your business, not mine.</p>
			<p>Happy to see you around. Drop me an email at <a href="mailto:admin@spacebanana.dpdns.org">admin@spacebanana.dpdns.org</a>.</p>
		</div>
		<!--INSERTION POINT-->
        <!--END POINT-->
    </div>
</body>
</html>