<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SpaceBanana</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="header">
		<div>
        	<h1><a href="/">SpaceBanana</a></h1>
		</div>
	</div>
    <div class="container">
		<div>
			<p>Hi! I go by SpaceBanana online in all the various places. I wasn't around for the earliest creation of all the big internet sites, nor am I on all the internet sites, so take my accounts with a grain of salt</p>
			<p>Happy to see you around and you </p>
		</div>
		<!--INSERTION POINT-->
        <!--END POINT-->
    </div>
</body>
</html>